<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <!--<link rel="stylesheet" href="styles/main.css">-->
    <link rel="stylesheet" href="../bower_components/angular-material/angular-material.css">
    <link rel="shortcut icon" href="images/icons/favicon.ico" type="image/x-icon"/>
    <!-- endbuild -->

</head>
<body ng-app="mercurianBobyApp">
<!--[if lte IE 8]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->

<!-- Teste do Angular Material -->
<section>
    <md-content>
        <md-toolbar>
            <div class="md-toolbar-tools" style="background: #4079D6">
                <md-button class="md-icon-button" aria-label="Menu" ng-controller="MainCtrl" ng-click="toggleLeft()"
                           >
                    <md-icon md-svg-icon="images/icons/menu.svg"></md-icon>
                    <md-tooltip md-visible="demo.showTooltip">
                        Menu
                    </md-tooltip>
                </md-button>
                <h2>
                    <span class=".md-headline">Mercurian</span>
                </h2>
                <span flex></span>

                <md-button class="md-icon-button" aria-label="Logout" href="#/login"
                           >
                    <md-icon md-svg-icon="images/icons/acount.svg"></md-icon>
                    <md-tooltip md-visible="demo.showTooltip">
                        Logout
                    </md-tooltip>
                </md-button>

            </div>
        </md-toolbar>
        </md-content>
</section>
<section layout="row" flex style="height: 82%">


    <!--style="background-image: url(images/body.jpg);"-->
    <md-content flex layout-padding style="background:#DDDDDD">

        <div ng-view="" style="padding: 20px" class="body"></div>

    </md-content>

</section>
<section ng-controller="LeftCtrl">

    <md-sidenav class=" md-whiteframe-z2" md-component-id="left">
        <md-toolbar class="md-theme-light" style="background: #4079D6;">
            <md-toolbar class="md-theme-indigo">
                <h1 class="md-toolbar-tools">Somar Pneus</h1>
            </md-toolbar>

            <!--Menu lateral -->

            <!--Atalho para a pagina inicial do programa -->
            <md-button aria-label="Inicio" href="#/inicio" ng-click="closeSideNav()"
                       class="fonteNavLateral">
                Inicio
            </md-button>
            <!--Atalho para os clientes -->
            <md-button aria-label="Clientes" href="#/clientes" ng-click="closeSideNav()"
                       class="fonteNavLateral">
                Clientes
            </md-button>

            <!--Atalho para os veiculos -->
            <md-button aria-label="Veiculos" href="#/veiculo" ng-click="closeSideNav()"
                       class="fonteNavLateral">
                Veiculos
            </md-button>

            <!--Atalho para os tipos de servicos -->
            <md-button aria-label="Tipo de Serviço" href="#/tiposervico" ng-click="closeSideNav()"
                       class="fonteNavLateral">
                Tipo Serviço
            </md-button>

            <!--Atalho para os servicos -->
            <md-button aria-label="Serviços" href="#/servico" ng-click="closeSideNav()"
                       class="fonteNavLateral">
                Serviços
            </md-button>

            <!--Atalho para as Cidades -->
            <md-button aria-label="Cidades" href="#/cidade" ng-click="closeSideNav()"
                       class="fonteNavLateral">
                Cidades
            </md-button>

            <!--Atalho para os Gestores -->
            <md-button aria-label="Gestores" href="#/gestor" ng-click="closeSideNav()"
                       class="fonteNavLateral">
                Gestores
            </md-button>

            <!--Atalho para as opinioes -->
            <md-button aria-label="Opiniões" href="#/opiniao" ng-click="closeSideNav()"
                       class="fonteNavLateral">
                Opiniões/Reclamações
            </md-button>
    </md-sidenav>
</section>
<section>
    <md-content flex layout-padding style="padding-top: inherit;">
        <div class="footer">
            <!-- <div class="container">-->
            <p><span class="glyphicon glyphicon-heart fonteRodape"></span> Mercurian - O Pós Vendas da Somar Pneus</p>
            <!--</div>-->
        </div>
    </md-content>
</section>

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
<!--
 <script>
   !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
   (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
   r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
   }(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

   ga('create', 'UA-XXXXX-X');
   ga('send', 'pageview');
</script> -->

<!-- build:js(.) scripts/vendor.js -->
<!-- bower:js -->
<script src="../bower_components/angular/angular.js"></script>
<script src="../bower_components/angular-animate/angular-animate.js"></script>
<script src="../bower_components/angular-aria/angular-aria.js"></script>
<script src="../bower_components/angular-cookies/angular-cookies.js"></script>
<script src="../bower_components/angular-messages/angular-messages.js"></script>
<script src="../bower_components/angular-resource/angular-resource.js"></script>
<script src="../bower_components/angular-route/angular-route.js"></script>
<script src="../bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="../bower_components/angular-touch/angular-touch.js"></script>
<!-- endbower -->
<script src="../bower_components/angular-material/angular-material.js"></script>
<script src="https://www.google.com/jsapi" type="text/javascript"></script>
<!-- endbuild -->

<!-- build:js({.tmp,app}) scripts/scripts.js -->
<script src="scripts/app.js"></script>
<script src="scripts/controllers/main.js"></script>
<script src="scripts/controllers/cliente/clienteController.js"></script>
<script src="scripts/controllers/tipoServico/tipoServicoController.js"></script>
<script src="scripts/controllers/veiculo/veiculoController.js"></script>
<script src="scripts/controllers/servico/servicoController.js"></script>
<script src="scripts/controllers/cidade/cidadeController.js"></script>
<script src="scripts/controllers/gestor/gestorController.js"></script>
<script src="scripts/controllers/opiniao/opiniaoController.js"></script>
<script src="scripts/controllers/inicio/inicioController.js"></script>
<script src="scripts/controllers/login/login.js"></script>
<!-- endbuild -->

</body>
</html>

