<div style="height: 180px;width: 500px;padding-top: 120px;padding-left: 33%;" class="body">
    <div flex flex-order="1" class="fundoLogin">
        <md-card layout-align="center">
            <md-card-content>
                <h2 class="md-title">Efetuar Login</h2>

                <form name="clienteForm">
                    <md-input-container flex>
                        <input type="text" ng-model="msg" md-maxlength="15" name="msg" ng-show="false">

                        <div ng-messages="clienteForm.msg.$error">
                            <div ng-message="md-maxlength">Usuário ou senha invalidos</div>
                        </div>
                    </md-input-container>

                    <md-input-container>
                        <label>Usuário</label>
                        <input ng-model="usuario" type="text">
                    </md-input-container>

                    <md-input-container>
                        <label>Senha</label>
                        <input ng-model="senha" type="password">
                    </md-input-container>
                    <md-card-footer>
                        <md-button class="md-raised md-primary" ng-click="efetuaLogin(usuario,senha)"
                                   style="width: 90%;">Entrar
                        </md-button>
                    </md-card-footer>
                </form>
            </md-card-content>
        </md-card>
    </div>
</div>