<md-content class="tabsdemoStaticTabs">
    <md-tabs md-dynamic-height="" md-border-bottom="" md-swipe-content="" style="background-color: #949DC9">
        <md-tab label="Alterar Cliente" style="color: #757575">
            <md-content class="md-padding"><!--class="table table-responsive"-->
                <div flex lang="row">
                    <div flex-sm="100" flex-gt-sm="90" flex-gt-md="70" flex-gt-lg="50"
                         class="md-whiteframe-z2">
                        <md-content class="md-padding">
                            <div layout="row" layout-sm="column" layout-align="space-around" ng-show="mostraProgressBar">
                                <md-progress-linear md-mode="indeterminate"></md-progress-linear>
                            </div>
                            <form name="tipoServicoForm">
                                <div layout layout-sm="column">
                                    <md-input-container flex>
                                        <label>Nome</label>
                                        <input type="text" ng-model="tipoServico.nome" name="nome" required md-maxlength="35">
                                        <div ng-messages="tipoServicoForm.nome.$error">
                                            <div ng-message="required">Este campo é obrigatorio.</div>
                                            <div ng-message="md-maxlength">Este campo deve conter no maximo 35 caracteres</div>
                                        </div>
                                    </md-input-container>
                                </div>

                                <div layout layout-sm="column">
                                    <md-input-container flex>
                                        <label>Descricao</label>
                                        <textarea name="descricao"  ng-model="tipoServico.descricao" columns="1" md-maxlength="500" ng-model-options="{ debounce: 500 }"></textarea>
                                        <div ng-messages="tipoServicoForm.nome.$error">
                                            <div ng-message="required">Este campo é obrigatorio.</div>
                                            <div ng-message="md-maxlength">Este campo deve conter no maximo 500 caracteres</div>
                                        </div>
                                    </md-input-container>
                                </div>

                                <md-button type="submit" class="md-primary" ng-click="alteraTipoServico(tipoServico)"
                                           ng-class="{'md-raised md-hue-1':
                                        (tipoServicoForm.$dirty && tipoServicoForm.$valid)}" ng-disabled="tipoServicoForm.$invalid">Salvar
                                </md-button>
                            </form>
                        </md-content>
                    </div>
                </div>
        </md-tab>

        <md-tab label="Ajuda">
            <md-content class="md-padding">
                <md-card>
                    <md-card-content style="color: #757575">
                        <h1>Alterar um Tipo de servico existeste</h1>

                        <p>Nesta pagina basta informar os dados do Tipo de servico a ser alterado, e assim que todos
                            os dados estiverem OK, o botão "SALVAR" ficara Azul, basta então clicar no mesmo
                            para que o Tipo de servico seja alterado.</p>
                    </md-card-content>
                </md-card>
            </md-content>
        </md-tab>
    </md-tabs>
</md-content>