<md-content class="tabsdemoStaticTabs">
    <md-tabs md-dynamic-height="" md-border-bottom="" md-swipe-content="" style="background-color: #949DC9">
        <md-tab label="Incluir Cidade" style="color: #757575">
            <md-content class="md-padding"><!--class="table table-responsive"-->
                <div flex lang="row">
                    <div flex-sm="100" flex-gt-sm="90" flex-gt-md="70" flex-gt-lg="50"
                         class="md-whiteframe-z2">
                        <md-content class="md-padding">
                            <div layout="row" layout-sm="column" layout-align="space-around" ng-show="mostraProgressBar">
                                <md-progress-linear md-mode="indeterminate"></md-progress-linear>
                            </div>
                            <form name="cidadeForm">
                                <div layout layout-sm="column">
                                    <md-input-container flex>
                                        <label>Nome</label>
                                        <input type="text" ng-model="cidade.nome" name="nome" required md-maxlength="100">
                                        <div ng-messages="cidadeForm.nome.$error">
                                            <div ng-message="required">Este campo é obrigatorio.</div>
                                            <div ng-message="md-maxlength">Este campo deve conter no maximo 100 caracteres</div>
                                        </div>
                                    </md-input-container>
                                </div>

                                <div layout layout-sm="column">
                                    <md-input-container flex>
                                        <label>Estado</label>
                                        <md-select placeholder="Escolha o estado" ng-model="cidade.estado.id" name="estado"
                                                   ng-required="true">
                                            <md-option ng-value="estado.id" ng-repeat="estado in estados | orderBy:'nome' ">
                                                {{estado.nome}}  ||  {{estado.uf}}
                                            </md-option>
                                        </md-select>
                                        <div ng-messages="cidadeForm.estado.$error">
                                            <div ng-message="required">Este campo é obrigatorio.</div>
                                        </div>
                                    </md-input-container>
                                </div>


                                <md-button type="submit" class="md-primary" ng-click="salvaCidade(cidade)"
                                           ng-class="{'md-raised md-hue-1':
                                        (cidadeForm.$dirty && cidadeForm.$valid)}" ng-disabled="cidadeForm.$invalid">Salvar
                                </md-button>
                            </form>
                        </md-content>
                    </div>
                </div>
        </md-tab>

        <md-tab label="Ajuda">
            <md-content class="md-padding">
                <md-card>
                    <md-card-content style="color: #757575">
                        <h1>Incluir uma nova Cidade</h1>

                        <p>Nesta pagina basta informar os dados da Cidade a ser cadastrada, e assim que todos
                            os dados estiverem OK, o botão "SALVAR" ficara Azul, basta então clicar no mesmo
                            para que a Cidade seja inserida.</p>
                    </md-card-content>
                </md-card>
            </md-content>
        </md-tab>
    </md-tabs>
</md-content>