<md-content class="tabsdemoStaticTabs">
    <md-tabs md-dynamic-height="" md-border-bottom="" md-swipe-content="" style="background-color: #949DC9">
        <md-tab label="Cidades" style="color: #757575">
            <md-content class="md-padding"><!--class="table table-responsive"-->
                <div>
                    <md-button href="#/cidade/incluir" class="md-fab md-mini md-primary" aria-label="Incluir"
                               ng-click="novo()">
                        <md-icon md-svg-src="images/icons/add.svg"></md-icon>
                        <md-tooltip md-visible="demo.showTooltip">
                            Incluir uma Cidade
                        </md-tooltip>
                    </md-button>
                </div>
                <div>
                    <md-input-container>
                        <label>Digite aqui a cidade que deseja encontrar</label>
                        <input type="text" ng-model="filtro">
                    </md-input-container>
                </div>
                <md-list class="md-whiteframe-z2">
                    <md-list-item ng-repeat="cidade in cidades | filter: filtro| limitTo:4| orderBy:'nome'"
                                  ng-click="reset()"
                                  style="color: #757575">

                        <img alt="{{ cidade.nome }}" src="images/icons/cidade.svg" class="md-avatar"
                             style="background-color: #949DC9"/>

                        <div style="width: 40%;">
                            <p>{{cidade.nome}}</p>
                        </div>
                        <div style="width: 40%;">
                            <p>{{cidade.estado.nome}} || {{cidade.estado.uf}}</p>
                        </div>
                        <!--//Botoes de Alterar a cidade-->

                        <div style="width: 20%;">
                            <md-button href="#/cidade/alterar" class="md-fab md-mini md-raised md-primary"
                                       aria-label="Editar Cidade" ng-click="edit(cidade)" style="float: right">
                                <md-icon md-svg-src="images/icons/editar.svg"></md-icon>
                                <md-tooltip md-visible="demo.showTooltip" class="md-lg">
                                    Editar Cidade
                                </md-tooltip>
                            </md-button>

                            <!--Botão para a exclusão de Cidade-->
                            <md-button class="md-fab md-mini md-raised md-warn" aria-label="Deletar Cidade"
                                       ng-click="ConfirmaDelecao(cidade, event)"style="float: right">
                                <md-icon md-svg-src="images/icons/deletar.svg"></md-icon>
                                <md-tooltip md-visible="demo.showTooltip">
                                    Deletar Cidade
                                </md-tooltip>
                            </md-button>
                        </div>
                    </md-list-item>
                </md-list>
            </md-content>
        </md-tab>
        <md-tab label="Ajuda" class="md-accent">
            <md-content>
                <md-content class="md-padding">
                    <md-card>
                        <md-card-content style="color: #757575">
                            <h1>Listagem das cidades</h1>

                            <p>Nesta pagina estão listados as cidades cadastradas, se por acaso alguma não aparecer
                                basta apenas voce utilizar campo filtro e digitar o nome da mesma,
                                pois o sistema traz apenas 4 na tela.</p>

                            <h1>Incluir Cidade</h1>

                            <p>Basta apenas clicar no botão "INCLUIR" no topo, que será levado a tela de inclusão de
                                novas Cidade</p>

                            <h1>Alterar Cidade</h1>

                            <p>Basta apenas clicar no botão "Alterar" ao lado dos dados da Cidade, que será levado a
                                tela de alteração de Cidades</p>

                            <h1>Deletar Cidade</h1>

                            <p>Basta apenas clicar no botão "DELETAR" ao lado dos dados da Cidade, ira pedir se deseja
                                mesmo deleta-la</p>
                        </md-card-content>
                    </md-card>
                </md-content>
            </md-content>
        </md-tab>
    </md-tabs>
</md-content>