<md-content class="tabsdemoStaticTabs">
    <md-tabs md-dynamic-height="" md-border-bottom="" md-swipe-content="" style="background-color: #949DC9">
        <md-tab label="Alterar Servico" style="color: #757575">
            <md-content class="md-padding"><!--class="table table-responsive"-->
                <div flex lang="row">
                    <div flex-sm="100" flex-gt-sm="90" flex-gt-md="70" flex-gt-lg="50"
                         class="md-whiteframe-z2">
                        <md-content class="md-padding">
                            <div layout="row" layout-sm="column" layout-align="space-around" ng-show="mostraProgressBar">
                                <md-progress-linear md-mode="indeterminate"></md-progress-linear>
                            </div>
                            <form name="servicoForm">
                                <div layout layout-sm="column">
                                    <md-input-container flex>
                                        <label>Observacao</label>
                                        <input type="text" ng-model="servico.observacao" name="observacao" required md-maxlength="100">
                                        <div ng-messages="servicoForm.observacao.$error">
                                            <div ng-message="required">Este campo é obrigatorio.</div>
                                            <div ng-message="md-maxlength">Este campo deve conter no maximo 100 caracteres</div>
                                        </div>
                                    </md-input-container>
                                </div>


                                <div layout layout-sm="column">
                                    <md-input-container flex>
                                        <label>Cliente</label>
                                        <md-select placeholder="Escolha o cliente" ng-model="servico.cliente.id" name="cliente"
                                                   ng-required="true">
                                            <md-option ng-value="cliente.id" ng-repeat="cliente in clientes | orderBy:'nome'">
                                                {{cliente.nome}}
                                            </md-option>
                                        </md-select>
                                        <div ng-messages="servicoForm.cliente.$error">
                                            <div ng-message="required">Este campo é obrigatorio.</div>
                                        </div>
                                    </md-input-container>
                                </div>

                                <div layout layout-sm="column">
                                    <md-input-container flex>
                                        <label>Veiculo</label>
                                        <md-select placeholder="Escolha o veiculo" ng-model="servico.veiculo.id" name="veiculo"
                                                   ng-required="true" ng-click="carregaVeiculos(servico.cliente.id)">
                                            <md-option ng-value="veiculo.id" ng-repeat="veiculo in veiculos">
                                                {{veiculo.marca}} || {{veiculo.modelo}}
                                            </md-option>
                                        </md-select>
                                        <div ng-messages="servicoForm.veiculo.$error">
                                            <div ng-message="required">Este campo é obrigatorio.</div>
                                        </div>
                                    </md-input-container>
                                </div>

                                <div layout layout-sm="column">
                                    <md-input-container flex>
                                        <label>Tipo de servico</label>
                                        <md-select placeholder="Escolha o tipo do servico" ng-model="servico.servico.id" name="tipoServico"
                                                   ng-required="true">
                                            <md-option ng-value="tipoServico.id" ng-repeat="tipoServico in tipoServicos | orderBy:'nome'">
                                                {{tipoServico.nome}}
                                            </md-option>
                                        </md-select>
                                        <div ng-messages="servicoForm.tipoServico.$error">
                                            <div ng-message="required">Este campo é obrigatorio.</div>
                                        </div>
                                    </md-input-container>
                                </div>

                                <md-button type="submit" class="md-primary" ng-click="alteraServico(servico)"
                                           ng-class="{'md-raised md-hue-1':
                                        (servicoForm.$dirty && servicoForm.$valid)}" ng-disabled="servicoForm.$invalid">Salvar
                                </md-button>
                            </form>
                        </md-content>
                    </div>
                </div>
        </md-tab>

        <md-tab label="Ajuda">
            <md-content class="md-padding">
                <md-card>
                    <md-card-content style="color: #757575">
                        <h1>Alterar um Serviço existente</h1>

                        <p>Nesta pagina basta informar os dados do Serviço a ser alterado, e assim que todos
                            os dados estiverem OK, o botão "SALVAR" ficara Azul, basta então clicar no mesmo
                            para que o Serviços seja alterado.</p>
                    </md-card-content>
                </md-card>
            </md-content>
        </md-tab>
    </md-tabs>
</md-content>