<md-content class="tabsdemoStaticTabs">
    <md-tabs md-dynamic-height="" md-border-bottom="" md-swipe-content="" style="background-color: #949DC9">
        <md-tab label="Servicos" style="color: #757575">
            <md-content class="md-padding"><!--class="table table-responsive"-->
                <div>
                    <md-button href="#/servico/incluir" class="md-fab md-mini md-primary" aria-label="Incluir" ng-click="novo()">
                        <md-icon md-svg-src="images/icons/add.svg"></md-icon>
                        <md-tooltip md-visible="demo.showTooltip">
                            Incluir Servicos
                        </md-tooltip>
                    </md-button>
                </div>
                <div>
                    <md-input-container >
                        <label>Digite aqui o servico que deseja encontrar</label>
                        <input type="text" ng-model="filtro">
                    </md-input-container>
                </div>
                <md-list class="md-whiteframe-z2">
                    <md-list-item ng-repeat="servico in servicos | filter: filtro" ng-click="reset()"
                                  style="color: #757575">

                        <img alt="{{ servico.observacao }}" src="images/icons/veiculo.svg" class="md-avatar" style="background-color: #949DC9"/>
                        <div style="width:30%">
                        <p>{{servico.observacao}}</p>
                        </div>
                        <div style="width:30%">
                        <p>Cliente: {{servico.cliente.nome}}</p>
                        </div>
                        <div style="width:15%">
                        <p>{{servico.veiculo.marca}} || {{servico.veiculo.modelo}}</p>
                            </div>
                        <div style="width:15%">
                        <p>{{servico.servico.nome}}</p>
                            </div>

                        <!--//Botoes de Alterar o Servico-->
                        <div style="width:10%">
                        <md-button href="#/servico/alterar" class="md-fab md-mini md-raised md-primary"
                                   aria-label="Editar Servico" ng-click="edit(servico)" style="float: right">
                            <md-icon md-svg-src="images/icons/editar.svg"></md-icon>
                            <md-tooltip md-visible="demo.showTooltip" class="md-lg">
                                Editar Serviço
                            </md-tooltip>
                        </md-button>

                        <!--Botão para a exclusão de Servico-->
                        <md-button  class="md-fab md-mini md-raised md-warn" aria-label="Deletar Servico"
                                    ng-click="ConfirmaDelecao(servico, event)" style="float: right">
                            <md-icon md-svg-src="images/icons/deletar.svg"></md-icon>
                            <md-tooltip md-visible="demo.showTooltip">
                                Deletar Serviço
                            </md-tooltip>
                        </md-button>
                            </div>
                    </md-list-item>
                </md-list>
            </md-content>
        </md-tab>
        <md-tab label="Ajuda" class="md-accent">
            <md-content>
                <md-content class="md-padding">
                    <md-card>
                        <md-card-content style="color: #757575">
                            <h1>Listagem dos Serviços</h1>
                            <p>Nesta pagina estão listados os Serviços cadastrados, se por acaso algum não aparecer
                                basta apenas voce utilizar  campo filtro e digitar o nome do mesmo.</p>
                            <h1>Incluir Servicos</h1>
                            <p>Basta apenas clicar no botao "INCLUIR" no topo, que sera levado a tela de inclusão de novos Serviços</p>

                            <h1>Alterar Serviços</h1>
                            <p>Basta apenas clicar no botao "Alterar" ao lado dos dados do Servico, que sera levado a tela de alteração de Serviços</p>

                            <h1>Deletar Serviços</h1>
                            <p>Basta apenas clicar no botao "DELETAR" ao lado dos dados do Serviço, ira pedir se deseja
                                mesmo deleta-lo</p>
                        </md-card-content>
                    </md-card>
                    </md-content>
            </md-content>
        </md-tab>
    </md-tabs>
</md-content>