<md-content class="tabsdemoStaticTabs" style="color: #757575">
    <md-tabs md-dynamic-height="" md-border-bottom="" md-swipe-content="" style="background-color: #949DC9">
        <md-tab label="Incluir Cliente">
            <md-content class="md-padding"><!--class="table table-responsive"-->
                <div flex lang="row">
                    <div flex-sm="100" flex-gt-sm="90" flex-gt-md="70" flex-gt-lg="50"
                         class="md-whiteframe-z2">
                        <md-content class="md-padding">
                            <div layout="row" layout-sm="column" layout-align="space-around" ng-show="mostraProgressBar">
                                <md-progress-linear md-mode="indeterminate"></md-progress-linear>
                            </div>
                            <form name="clienteForm">
                                <div layout layout-sm="column">
                                    <md-input-container flex>
                                        <label>Nome</label>
                                        <input type="text" ng-model="cliente.nome" name="nome" required md-maxlength="30">
                                        <div ng-messages="clienteForm.nome.$error">
                                            <div ng-message="required">Este campo é obrigatorio.</div>
                                            <div ng-message="md-maxlength">Este campo deve conter no maximo 30 caracteres</div>
                                        </div>
                                    </md-input-container>
                                </div>

                                <div layout layout-sm="column">
                                    <md-input-container flex>
                                        <label>Cidade</label>
                                        <md-select placeholder="Escolha a cidade" ng-model="cliente.cidade.id" name="cidade"
                                                   ng-required="true">
                                            <md-option ng-value="cidade.id" ng-repeat="cidade in cidades | orderBy:'nome'">
                                                {{cidade.nome}}
                                            </md-option>
                                        </md-select>
                                        <div ng-messages="clienteForm.cidade.$error">
                                            <div ng-message="required">Este campo é obrigatorio.</div>
                                        </div>
                                    </md-input-container>
                                </div>

                                <div layout layout-sm="column">
                                    <md-input-container flex>
                                        <label>Telefone1</label>
                                        <input type="text" ng-model="cliente.telefone" md-maxlength="15" name="telefone1">
                                        <div ng-messages="clienteForm.telefone1.$error">
                                            <div ng-message="md-maxlength">Este campo deve conter no maximo 15 caracteres</div>
                                        </div>
                                    </md-input-container>

                                    <md-input-container flex>
                                        <label>Telefone2</label>
                                        <input type="text" ng-model="cliente.telefone2" md-maxlength="15" name="telefone2">
                                        <div ng-messages="clienteForm.telefone2.$error">
                                            <div ng-message="md-maxlength">Este campo deve conter no maximo 15 caracteres</div>
                                        </div>
                                    </md-input-container>
                                </div>

                                <div layout layout-sm="column">
                                    <md-input-container flex>
                                        <label>Email</label>
                                        <input type="email" ng-model="cliente.email" md-maxlength="50" name="email" ng-pattern="/^.+@.+\..+$/">
                                        <div ng-messages="clienteForm.email.$error">
                                            <div ng-message="md-maxlength">Este campo deve conter no maximo 50 caracteres</div>
                                            <div ng-message="pattern">Deve ser um endereco de email valido| Ex.: teste@teste.com</div>
                                        </div>
                                    </md-input-container>
                                </div>
                                <!--<input type="hidden" value="" ng-model="cliente.id">-->

                                <md-button type="submit" class="md-primary" ng-click="salvaCliente(cliente)"
                                           ng-class="{'md-raised md-hue-1':
                                        (clienteForm.$dirty && clienteForm.$valid)}" ng-disabled="clienteForm.$invalid">Salvar
                                </md-button>
                            </form>
                        </md-content>
                    </div>
                </div>
        </md-tab>

        <md-tab label="Ajuda">
            <md-content class="md-padding">
                <md-card>
                    <md-card-content style="color: #757575">
                        <h1>Incluir um novo cliente</h1>

                        <p>Nesta pagina basta informar os dados do cliente a ser cadastrado, e assim que todos
                            os dados estiverem OK, o botão "SALVAR" ficara Azul, basta então clicar no mesmo
                            para que o cliente seja inserido.</p>
                    </md-card-content>
                </md-card>
            </md-content>
        </md-tab>
    </md-tabs>
</md-content>